body {
    padding-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.container-fluid {
    margin: 30px ;
}


.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1000;
    background-color: rgb(255, 77, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


.logo img {
    border: 3px solid black;
    border-radius: 10px;
    padding: 7px 5px 5px 5px;
    height: 80px;
}


.nav ul {
    margin-right: 20px;
    display: flex;
    gap: 30px;
    list-style: none;
}


.nav li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    transition: transform 0.5s;
}


.nav li {
    border-radius: 5px;
    padding: 3px;
    border: 2px solid black;
    transition: transform 0.5s;
}


.nav li:hover {
    border: 3px solid black;
    transform: scale(1.2);
}


.nav li:hover a {
    transform: scale(1.2);
    color: white;
    transform: scale(1.070);
}



.sidebare {
    background-color: rgb(49, 41, 41);
    margin-top: 20px;
    border-radius: 7px;
    padding: 15px 20px;
    height: auto;
    border: 2px solid wheat;
}


.sidebare a {
    text-decoration: none;
    color: rgb(255, 77, 0);
}


.sidebare li {
    text-align: center;
    color: #fbf8f8;
    font-weight: 700;
    font-size: 27px;
    transition: transform 1.0s;
    list-style: none;
    margin: 15px 0px;
}


.sidebare li:hover {
    border-radius: 8px;
    background-color: #4f4b45;
    color: rgb(254, 253, 253);
    text-shadow: 5px 5px 3px red;
    transform: scale(1.1);
}


.sidebare li:hover a {
    color: white;
}


.sidebare ul {
    width: 450px;
    margin-top: 30px;
}


.filial {
    color: white;
    text-shadow: 5px 5px 3px red;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 4px 5px 0px;
    border: 2px solid red;
}


.nash_filial {
    display: flex;
}


.rail img {
    border-radius: 7px;
    border: 2px solid wheat;
    width: 700px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
}


.rail {
    text-shadow: 5px 5px 3px rgb(252, 249, 249);
    margin-top: 20px;
    text-align: center;
    color: rgb(255, 77, 0);
}


.rail p {
    font-weight: 900;
    margin-left: 150px;
    width: 700px;
    letter-spacing: 5px;
    font-size: 60px;
    padding: 10px;
}
/* --------------------------------------------------------------------------------------------- */

.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

footer img {
    width: 100px;
    height: 100px;
}

footer {
    margin-top: 150px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 50px;
}


footer p {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 18px;
}


.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}


.social-links a {
    display: inline-block;
    width: 60px;
    height: 60px;
}


.social-links img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s;
}


.social-links img:hover {
    transform: scale(1.1);
}


.social.telegram img {
    background-color: #0088cc;
}


.social.whatsapp img {
    background-color: #25d366;
}


.social.instagram img {
    background: radial-gradient(circle, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}


/* Адаптивность для экранов шириной до 1200px */
@media (max-width: 1200px) {

    .container,
    .container-fluid {
        padding: 10px;
    }

    .nash_filial {
        flex-direction: column;
    }

    .sidebare ul {
        width: 100%;
    }

    .rail img {
        width: 100%;
        margin-left: 0;
    }

    .rail p {
        font-size: 40px;
        width: auto;
        margin-left: 0;
    }

    .about {
        flex-direction: column;
    }

    .o_nas,
    .rail_2 {
        width: 100%;
    }

    #dynamic-image {
        width: 100%;
    }

    #dynamic-text {
        font-size: 1.2rem;
    }
}

/* Адаптивность для экранов шириной до 768px */
@media (max-width: 768px) {

    .container {
        margin-top: 100px;
    }

    .menu {
        flex-direction: column;
        padding: 5px;
    }

    .logo img {
        height: 60px;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .nav li {
        padding: 0;
        border: 0.5px solid black;
    }

    .sidebare li {
        font-size: 20px;
    }

    .rail img,
    .rail p,
    .o_nas ul {
        margin: 0 auto;
    }

    .rail p {
        font-size: 30px;
    }
}

/* Адаптивность для экранов шириной до 480px */
@media (max-width: 480px) {
    .menu {
        padding: 5px;
    }

    .nav ul {
        font-size: 14px;
        gap: 5px;
    }

    .rail p {
        font-size: 20px;
    }

    .about-us h3 {
        font-size: 30px;
    }

    .social-links a {
        width: 40px;
        height: 40px;
    }
}


.kontacti {
    border-radius: 10px;
    margin: 0px 0 50px 0;
    font-size: 70px;
    background-color: #333;
    text-shadow: 4px 4px 3px rgb(7, 7, 7);
    color: rgb(253, 251, 251);
    padding: 15px 20px;
    text-align: center;
}

